:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --gradient: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --ligth-blue: #2570a8;
    --ligt: hsl(230, 22%, 74%);
    --very-dark-blue: #1d2029;
    --dark-blue: #252b43;
    --font: 'Inter', sans-serif;
    --degrade: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --desaturated-blue: hsl(228, 34%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font);
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
    color: white;
}

section {
    width: 90%;
}

.header-container {
    width: 100%;
    padding-top: 3rem;
}
.header-container h1{
    font-size: 2.5rem;
}
.header-container h4{
    font-size: 1.2rem;
    color: var(--desaturated-blue);
    padding-bottom: 30px;
    border-bottom: 1px solid var(--desaturated-blue);
}

.mode-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mode-container h3 {
    color: var(--desaturated-blue);
}
.mode-container div {
    width: 10%;
    height: 25px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(hsl(210, 78%, 56%), hsl(163, 72%, 41%));
    display: flex;
    align-items: center;
}
.mode-container div button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #252b43;
}


.cont {
    width: 100%;
    background-color: var(--dark-blue);
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 3px solid var(--ligth-blue);
    border-radius: 5px;
}
.instagram {
    border-top: 3px solid hsl(37, 97%, 70%);
}
.youtube {
    border-top: 3px solid hsl(356, 69%, 56%);; 
}

.incons-container{
    display: flex;
    margin: 3rem;
}
.incons-container h3 {
    margin-left: 10px;
    color: var(--desaturated-blue);
}
.number {
    font-size: 5rem;
    margin-top: -20px;
}
.followers {
    color: var(--desaturated-blue);
    text-align: justify;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
.today {
    color: var(--lime-green);
    margin-bottom: 20px;
}

.overview {
    padding-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    text-align: start;
    font-size: 1.5rem;
}

/* .overview h1::after {
    content: '';
    height: 2px;
    background-color: red;
    display: block;
    width: 50%;
    Para esto sirve After (despues del elemento) agregar algo, el content siempre va
} */

.contx {
    width: 100%;
    background-color: var(--dark-blue);
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.incon-wraper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.incon-wraper h3 {
    color: var(--desaturated-blue);
}
.incon-wraper h2 {
    font-size: 3rem;
}
.incon-wraper h5 {
    font-size: 1.2rem;
    color: var(--lime-green);
}
